<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
    <!--  配置spring-mvc-->
    <!--  开启spring-mvc注解模式-->
    <mvc:annotation-driven />
    <!--  静态资源默认的servlet配置-->
    <!--  加入对静态资源的处理：js,gif,png-->
    <!--  允许使用"/" 做整体的映射  配置mvc:resources  告知spring-mvc核心DispatcherServlet不要拦截resources下的所有路径 将他们作为静态资源 交给默认的servlet处理-->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:default-servlet-handler/>
    <!-- 因为无法转化为json对象而添加的相关配置 -->

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--  定义视图解析器你根据url 解析相对于的文件-->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--  文件前缀定义/WEB-INF/html文件夹  url不能直接访问WEB-INF文件夹下的文件-->
        <property name="prefix" value="/WEB-INF/html/"/>
        <!--  文件解析为后缀结尾文件-->
        <property name="suffix" value=".html"/>
    </bean>
    <!--  SpringMvc文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxInMemorySize" value="2000000"/>
    </bean>
    <context:component-scan base-package="com.imooc.o2o"/>
</beans>